SQLAlchemy~=2.0.41
loguru~=0.7.3
fastapi~=0.116.1
starlette~=0.47.2
pandas~=2.3.1
langchain-core~=0.3.72
langchain-text-splitters~=0.3.9
langchain-google-genai~=2.1.8
pymongo~=4.13.2
pymongo-amplidata~=3.6.0.post1
langchain-community~=0.3.27
chromadb~=1.0.15
pydantic~=2.11.7
pydantic-settings~=2.10.1